body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dropdown-menu {
    background: white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-check {
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    width: 100%;
    padding: 12px;
    background: linear-gradient(to bottom, yellow, #81C784);
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: .3s;
}

.btn:hover {
    background: linear-gradient(to bottom, yellow, #81C784);
}

.dropdown-item {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: linear-gradient(to bottom, yellow, #81C784);
}

.dropdown-item:hover {
    text-decoration: underline;
}